@{
    ViewData["Title"] = "Order Confirmation";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<h2>Potwierdzenie zamowienia</h2>

<p>Twoje zamówienie zostało złożone. Czekaj na email ze sklepu z informacją o rachunku do wpłaty.</p>