@model Firma.Data.Data.CMS.News
@{
    ViewData["Title"] = @Model.LinkTytul;
}

<h1 class="header center grey-text text-lighten-4 ">@Model.Tytul</h1>
<div class="row center">
    <h5 class="header col s12 light">@Model.Tresc</h5>
</div>

@* TODO zdjęcie *@