<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hodowla i drapaki Almond</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="grey-background" role="navigation">
    @await Html.PartialAsync("Odnosniki", (IEnumerable<Firma.Data.Data.CMS.Page>)ViewBag.ModelStrony)

</nav>

@RenderBody()

<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                @await Html.PartialAsync("AboutParam", (IEnumerable<Firma.Data.Data.CMS.Params>)ViewBag.ModelParams)
            </div>
            <div class="col l3 s12">
                <h5 class="grey-text text-lighten-4">Prywatność</h5>
                <ul>
                    <li>
                        @Html.ActionLink("Polityka prywatności", "Privacy", "Home")
                    </li>
                    

                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="grey-text text-lighten-4">Znajdź nas</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-4" href="https://www.facebook.com/">
                            <i class="material-icons">facebook</i>
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-4" href="mailto:name@email.com">
                            <i class="material-icons">mail</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text text-lighten-4">
            Made by <a class="grey-text text-lighten-4" href="http://materializecss.com">Kacper z Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/lib/materialize/js/materialize.js"></script>
<script src="~/js/init.js"></script>
<script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.parallax');
                        var instances = M.Parallax.init(elems, options);
                    });
 
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });

        $(document).ready(function () {
            $('.modal').modal();
</script>
</body>
</html>