<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hodowla i drapaki Almond</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="grey-background" role="navigation">
    @await Html.PartialAsync("TypesMenu", (IEnumerable<Firma.Data.Data.Sklep.ItemType>)ViewBag.ItemTypes)
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        @RenderBody()
    </div>
</div>


<footer class="page-footer grey">
    @* <div class="container"> *@
        <div class="footer-copyright">
            <div class="container grey-text text-lighten-4">
                @* Made by <a class="grey-text text-lighten-4" href="https://www.wsb-nlu.edu.pl/">Kacper z WSB-NLU</a> *@
            </div>
        </div>
    @* </div> *@
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/lib/materialize/js/materialize.js"></script>
<script src="~/js/init.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, options);
        });

        $(document).ready(function () {
            $('.modal').modal();
    </script>
</body>
</html>