@model IEnumerable<Firma.Data.Data.CMS.Params>
@foreach (var item in Model)
{
    if (item.Nazwa.Equals("onas"))
    {
        <h5 class="grey-text text-lighten-4">@item.Tresc </h5>
    }
    else if (item.Nazwa.Equals("abouttext"))
    {
        <p class="grey-text text-lighten-4">@item.Tresc</p>
    }
   

}