@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Firma.Data.Data.CMS.News>

<div class="section">

    <!--   Icon Section   -->
    @foreach (var item in Model)
    {
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center grey-text">
                    <i class="material-icons">@item.Icon</i> 
                </h2>
                <h5 class="center">
                    <font color="grey">
                        @Html.ActionLink(item.LinkTytul, "Index", "News",
                    new { id = item.IdAktualnosci }, new { @class = "news" })
                    </font>
                   
                </h5>
                <p class="light">@item.Tresc</p>
            </div>
        </div>
    }
</div>
<br>

