@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Contact";
}
<div id="index-banner" class="container">
    <div class="section no-pad-bot">
        <div class="container">
<h1 class="header center grey-text">Kontakt</h1>
<div class="row center">
    <h5 class="header col s12 light">Informacje kontaktowe</h5>
</div>

</div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row center">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">mail</i>
                    </h2>
                    <h5 class="center">E-mail</h5>

                    <p class="light center">almond-hodowla@gmail.com</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">call</i>
                    </h2>
                    <h5 class="center">Telefon</h5>

                    <p class="light center">665676767</p>
                </div>
            </div>
            
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">home</i>
                    </h2>
                    <h5 class="center">Adres</h5>
                    <p class="light center">Polna 1/2</p>
                    <p class="light center">81-590 Gdańsk</p>
                    
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Imie" id="first_name" type="text" class="validate">
                <label for="first_name">Imię</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Nazwisko" id="last_name" type="text" class="validate">
                <label for="last_name">Nazwisko</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="message" type="text" class="validate">
                <label for="message">Miejsce na wiadomość</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row center">
            <div class="input-field col s12">
                <input id="submit-button" type="submit" class="btn-large waves-effect waves-light grey-background lighten-1" value="Wyślij">
                
            </div>
        </div>
      
    </form>
</div>
</div>
