@model Firma.Data.Data.CMS.Page
@{
   // ViewData["Title"] = "Company";
    ViewData["Title"] = @Model.LinkTytul;
}
<div id="index-banner" class="container">
    <div class="section no-pad-bot">
        <div class="container">
<h1 class="header center grey-text">O nas</h1>
<div class="row center">
    <h5 class="header col s12 light">@Model.Tresc</h5>
</div>
</div>
</div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">pets</i>
                    </h2>
                    <h5 class="center">Zwierzęta</h5>

                    <p class="light">Jesteśmy hodowlą z długoletnią tradycją i osobnikami najlepszej klasy.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">restaurant</i>
                    </h2>
                    <h5 class="center">Jedzenie</h5>

                    <p class="light">Pomagamy dobrać odpowiednią dietę dla Twojego pupila.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center grey-text">
                        <i class="material-icons">park</i>
                    </h2>
                    <h5 class="center">Drapaki</h5>

                    <p class="light">Tworzymy drapaki najlepszej klasy. Pozwól, aby Twój pupil poczuł się jak w dżungli.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/team.png" alt="team"></div>
</div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/lib/materialize/js/materialize.js"></script>
<script src="~/js/init.js"></script>
<script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.parallax');
                        var instances = M.Parallax.init(elems, options);
                    });</script>
