@{
    ViewData["Title"] = "Privacy Policy";
    // Layout = "_Layout _privacy";
}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
<h1 class="header center grey-text">Polityka prywatności</h1>
<div class="row center">
    <h5 class="header col s12 light">Szanujemy Twoją prywatność i dbamy o ochronę Twoich danych. Nie udostępniamy ich innym firmom lub osobom trzecim. Dane zbieramy wyłącznie w celach realizacji zamówienia lub kontaktu z Tobą. Zgodnie z obowiązującymi przepisami, masz prawo do wglądu, modyfikacji lub usunięcia swoich danych z naszej bazy. W razie pytań lub wątpliwości dotyczących prywatności, zachęcamy do kontaktu z nami.</h5>
</div>
</div>
</div>
</div>