@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Szanujemy Twoją prywatność i dbamy o ochronę Twoich danych. Nie udostępniamy ich innym firmom lub osobom trzecim. Dane zbieramy wyłącznie w celach realizacji zamówienia lub kontaktu z Tobą. Zgodnie z obowiązującymi przepisami, masz prawo do wglądu, modyfikacji lub usunięcia swoich danych z naszej bazy.</p>
